<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiqidu.mybatis.mapper.ClazzMapper">
    <resultMap id="clazzResultMapStep" type="Clazz">
        <id property="cid" column="cid"/>
        <result property="cname" column="cname"/>
        <!--ofType指定集合中的元素类型-->
        <collection property="stus" select="com.shiqidu.mybatis.mapper.StudentMapper.selectByCidStep2" column="cid" fetchType="lazy" />
    </resultMap>

    <select id="selectByStep1" resultMap="clazzResultMapStep">
        select cid,cname from t_class where cid = #{cid}
    </select>



    <resultMap id="classResultMap" type="Clazz">
        <id property="cid" column="cid"/>
        <result property="cname" column="cname"/>
        <!--ofType指定集合中的元素类型-->
        <collection property="stus" ofType="Student">
            <id property="sid" column="sid"/>
            <result property="sname" column="sname"/>
        </collection>
    </resultMap>

    <select id="selectByCollection" resultMap="classResultMap">
        select c.cid,c.cname,s.sid,s.sname from t_class as c left join t_student as s on c.cid = s.cid where c.cid = #{cid}
    </select>

    <!--分步查询第二步,根据cid查询班级信息-->
    <select id="selectByIdStep2" resultType="clazz">
        select cid,cname from t_class where cid = #{cid}
    </select>
</mapper>